<!-- Toolbar -->
<app-toolbar [showLangSelector]="true"></app-toolbar>

<div class="content" role="main">
  <div class="card highlight-card card-small mt-3">
    <img id="rocket" src="assets/images/rocket.svg" alt="rocket icon" />
    <span>{{ title }} {{ "appIsRunning" | translate }}</span>
    <img
      id="rocket-smoke"
      src="assets/images/rocket-smoke.svg"
      alt="rocket smoke icon"
    />
  </div>

  <!-- Resources -->
  <h2>{{ "homepage" | translate }}</h2>
  <p class="mb-3">{{ "websiteSupportsMultipleLanguages" | translate }}</p>

  <img
    id="clouds"
    src="assets/images/gray-clouds.svg"
    alt="Gray Clouds Background"
  />

  <div class="container fields-container">
    <p class="mb-1">
      <span>{{ "spanText" | translate }}</span>
    </p>
    <p class="mb-1">
      <span>{{ today | date }}</span>
    </p>
    <p class="mb-3">
      <span>{{ 150 | currency }}</span>
    </p>

    <!-- Form -->
    <form autocomplete="off">
      <div class="form-group">
        <label for="username">{{ "username" | translate }}</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="{{ 'enterYourUsername' | translate }}"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="password">{{ "password" | translate }}</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="{{ 'enterYourPassword' | translate }}"
          autocomplete="off"
        />
      </div>

      <!-- Select -->
      <div class="form-group">
        <label for="gender">{{ "selectYourGender" | translate }}</label>
        <select id="gender" name="gender" class="form-control">
          <option value="male">{{ "male" | translate }}</option>
          <option value="female">{{ "female" | translate }}</option>
          <option value="other">{{ "other" | translate }}</option>
          <option value="prefer_not_to_say">
            {{ "prefer_not_to_say" | translate }}
          </option>
        </select>
      </div>

      <!-- Submit Button -->
      <button type="button" class="btn btn-primary">
        {{ "submit" | translate }}
      </button>
    </form>

    <!-- Unordered List -->
    <ul class="list-group mt-4">
      <li class="list-group-item">{{ "firstItem" | translate }}</li>
      <li class="list-group-item">{{ "secondItem" | translate }}</li>
      <li class="list-group-item">{{ "thirdItem" | translate }}</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
