<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">
  <div class="card highlight-card card-small mt-3">
    <img id="rocket" src="assets/images/rocket.svg" alt="rocket icon" />
    <span>{{ title }} app is running!</span>
    <img
      id="rocket-smoke"
      src="assets/images/rocket-smoke.svg"
      alt="rocket smoke icon"
    />
  </div>

  <!-- Resources -->
  <h2>This is the homepage</h2>
  <p>This is a website that supports multiple languages.</p>

  <img
    id="clouds"
    src="assets/images/gray-clouds.svg"
    alt="Gray Clouds Background"
  />

  <div class="container fields-container">
    <!-- Span -->
    <p><span>This is a span text.</span></p>

    <!-- Form -->
    <form autocomplete="off">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter your username"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter your password"
          autocomplete="off"
        />
      </div>

      <!-- Select -->
      <div class="form-group">
        <label for="gender">Select your gender</label>
        <select id="gender" name="gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
          <option value="prefer_not_to_say">Prefer not to say</option>
        </select>
      </div>

      <!-- Submit Button -->
      <button type="button" class="btn btn-primary">Submit</button>
    </form>

    <!-- Unordered List -->
    <ul class="list-group mt-4">
      <li class="list-group-item">First Item</li>
      <li class="list-group-item">Second Item</li>
      <li class="list-group-item">Third Item</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
